
body{
  background-color:  rgb(113, 145, 145);
}

section{
  height: 650px;
  width: 1200px;
  margin-left: 80px;
  overflow: hidden; 
  
}

.main{
  display: grid;
  grid-template-columns: 300px 600px;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  transition: all 0.5s ease;
  background-image: url(./black\ themes.jpg);
}
.main:hover{
  transform: scale(1.1); 
 
}
.container{
  display: grid;
  grid-template-columns: 300px 300px 300px ; 
  width: auto;
  padding: 30px;
  margin-top: 20px;
  height: auto;
  background-attachment: fixed; 
}
  
  

.top{
  padding: 30px;
  margin-top: 20px;
  background-color: rgb(102, 102, 126);
  height: 800px;
  background-attachment: fixed;
  margin-left: 10px;
  

}
 
   .navbar-toggleable-md .navbar-collapse {         
    -webkit-justify-content: flex-end;
    justify-content: flex-end;  

}
 h4,h5{
   padding: 10px;
   margin-left: 18px;
 }
 i{
   padding: 20px;
   
 
  
 }
  .icon{
    display: flex;
   flex-direction: column;
  }  
 .text{
   font-size: 20px;
   color: rgb(231, 225, 225);
 }
@media(max-width: 756px){
  .main{
display: flex;
flex-direction: column;
height: auto;
background-position: initial;
justify-content: center;
  }
  .container{
    display: flex;
    flex-direction: column;
    background-image: none;
    transition: none;
    height: auto;
    margin-left: 0;
    text-align: center;
 
  }
  .main:hover{
    transform: none;
  }
  section{
    height: auto;
    overflow: visible;
    margin-left: 0;
    
    
  }
  body{
    width: auto;
  }
}
 
