 body{
  background-color:  rgb(113, 145, 145);
 }
 
 
  
 
.resume{
  width: 1000px;
  display: grid;
  grid-template-columns: 300px 400px;
  background-color: rgb(221, 223, 223);
  justify-content: center; 
  margin-left: 200px;
  margin-top: 50px;
  font-size: smaller;
  
  
  
  
}
img{
  padding: 40px;
  border-radius: 100px;
}
.socialmedia{
  display: flex;
  flex-direction: column;
  margin: 30px; 
  background-color: rgb(125, 136, 125);
  height: 1000px;
}
i{
 padding: 10px;
}
.text{
  margin: 30px;
   text-align: center; 
}
.col2{
  
  height: 1000px;
}
h1{
  margin-top: 30px;
  font-weight: bold;
  background-color: rgb(24, 22, 22);
  color: rgb(184, 186, 187);
  text-align: center;
  padding: 10px;
  
  
}
  p{
    font-size: smaller;
    font-weight: bold;
    padding: 5px;
  }

h3{
  background-color: rgb(24, 23, 23);
  color: rgb(165, 164, 164);
  font-size: small;
  font-weight: bold;
  padding: 10px;
}
h5{
  font-size: smaller;
  font-weight: bold;
}
h4,h2{
  font-size: small;
  font-weight: bold;
  color: rgb(146, 146, 223);
}
h6{
  font-size: small ;
}
header{
  text-align: center;
  display: none;
}

    @keyframes example {
        0%   {background-color: rgb(90, 81, 81);}
        25%  {background-color: yellow;}
        50%  {background-color: rgb(141, 141, 172);}
        100% {background-color: rgb(142, 160, 142);}
      }
    img:hover {
        display: none;
        opacity: 0.5;
        animation-duration: 5s;
    } 
    @media(max-width: 600px){
      body{
     background-color: white;
     float: left;
    }
      .resume{
        display: block;
        margin: none;
        width: auto;
        height:auto;
        margin-left: 0; 

      }
h1{
  display: none;
}
header{
  display: flex;
}
img{
  width:200px;
  border-radius: 100px;
}
.col2{
  margin: 30px;
}
  }